.course {
	$r: &;

	position: relative;
	display: block;
	border-radius: 10px;
	text-decoration: none;
	color: $color-white;
	background: $color-blue-zodiac;

	&::before {
		content: "";
		display: block;
		padding-top: percentage(296 / 409);
	}

	&:hover {
		#{$r}__overlay {
			opacity: 1;
			visibility: visible;
			transition-delay: 0.1s, 0s;
		}
	}

	&__image {
		@include object-fit(cover);

		position: absolute;
		left: 0;
		top: 0;
		border-radius: inherit;
		width: 100%;
		height: 100%;
		opacity: 0.8;
	}

	&__body {
		position: absolute;
		left: 0;
		top: 0;
		display: flex;
		flex-flow: column;
		border-radius: inherit;
		padding: 17px vcalc(25, 20);
		width: 100%;
		height: 100%;
		background: rgba($color-primary, 0.5);
	}

	&__category {
		flex: none;
		align-self: flex-start;
		overflow: hidden;
		margin-right: auto;
		margin-bottom: 10px;
		border-radius: 24px;
		padding: 1.5px 10px;
		max-width: 100%;
		font-weight: 600;
		font-size: 12px;
		line-height: (16 / 12);
		white-space: nowrap;
		text-overflow: ellipsis;
		background: $color-tall-poppy;
	}

	&__title {
		@include line-clamp(2);

		flex: none;
		overflow: hidden;
		margin: 0;
		max-height: 1.3em * 2;
		font-weight: 700;
		font-size: vcalc(24, 20);
		line-height: 1.3;
	}

	&__footer {
		display: flex;
		flex: none;
		align-items: flex-end;
		margin-top: auto;
		padding-top: 15px;
	}

	&__duration {
		margin-bottom: 3px;
		font-size: vcalc(15, 14);
		line-height: (18 / 15);
		color: rgba($color-white, 0.8);

		> div {
			&:not(:last-child) {
				margin-bottom: 4px;
			}
		}
	}

	&__price {
		margin-left: auto;
		padding-left: 15px;
		font-weight: 500;
		font-size: vcalc(26, 22);
		line-height: (34 / 26);
	}

	&__overlay {
		position: absolute;
		left: 0;
		top: 0;
		display: flex;
		flex-flow: column;
		border-radius: inherit;
		padding: vcalc(30, 20) vcalc(25, 20);
		width: 100%;
		height: 100%;
		font-weight: 500;
		font-size: vcalc(15, 14);
		line-height: (20 / 15);
		text-decoration: none;
		color: rgba($color-white, 0.8);
		background: rgba($color-blue-zodiac, 0.8);
		opacity: 0;
		visibility: hidden;
		transition: opacity, visibility;
		transition-duration: $duration-normal;
		backdrop-filter: blur(20px);
	}

	&__button {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		border-radius: 27.5px;
		padding: 0 20px;
		width: 227px;
		height: 55px;
		max-width: 100%;
		font-weight: 500;
		line-height: 1.3;
		color: $color-white;
		background: $color-tall-poppy;
		transition: background-color $duration-normal;

		@include hover {
			background-color: lighten($color-tall-poppy, 10);
		}
	}

	&__details {
		align-self: center;
		margin: auto auto 0;
		padding-top: 15px;
		max-width: 100%;
		text-decoration: underline;
	}
}
