mixin button({tag = 'button', icon} = {})
	#{tag}.button(
		type=tag === 'button' ? 'button' : null
		role=tag !== 'button' ? 'button' : null
	)&attributes(attributes)
		if icon
			+svg(icon).button__icon
		if block
			span.button__text
				block
