mixin courses-slider(data = [])
	.courses-slider(data-controller="courses-slider")&attributes(attributes)
		.courses-slider__main
			.swiper-container(data-target="courses-slider.swiperContainer")
				.swiper-wrapper
					each item in data
						.swiper-slide
							+course(item)
					if data.length
						.swiper-slide
							a.courses-slider__view(href="")
								.courses-slider__view-body
									.courses-slider__view-icon
										+svg('arror-view')
									.courses-slider__view-text
										| Смотреть все
		.courses-slider__footer
			.courses-slider__pagination(data-target="courses-slider.pagination")
			.courses-slider__nav
				+button({icon: 'arrow-left'}).courses-slider__button(
					type="button"
					data-target="courses-slider.buttonPrev"
				)
				+button({icon: 'arrow-left'}).courses-slider__button(
					type="button"
					data-target="courses-slider.buttonNext"
				)
