:root {
	--vmedia: 1366px;
	--gutter: #{vcalc(35 / 2, 20 / 2)};
	--ungutter: calc(-1 * var(--gutter));
	--gutter2x: calc(2 * var(--gutter));

	@include media-breakpoint-down(xl) {
		--vmedia: 100vw;
	}

	@include media-breakpoint-down(lg) {
		--vmedia: 100vmin;
	}

	@include media-breakpoint-down(320px) {
		--vmedia: 320px;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	-webkit-font-smoothing: antialiased;
	text-decoration-skip: objects;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

button:not([disabled]),
a[role="button"]:not([disabled]) {
	cursor: pointer;
}

:focus:not(.focus-visible) {
	outline: none;
}
